@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Roboto:wght@400;700&display=swap");



body {
  background-color: black;
  color: $main-color;
  font-family: $font-title;
}

p {
  font-family: $font-p;
  font-size: 1.4rem;
  text-align: justify;
}

/*Navbar*/
header {
  background-color: black;
  .navbar-collapse {
    flex-grow: initial;
  }
  .nav-link {
    color: $main-color;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  ul li {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.06);
    }
  }
  nav a img {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.04);
    }
  }
}

h1 {
  text-align: center;
  margin: 20px;
}

/*footer*/
footer {
  padding: 20px;
  border-top: 0.5px solid rgb(39, 39, 39);
  ul {
    display: flex;
    justify-content: flex-end;
  }
  li {
    list-style: none;
  }
  .bi {
    color: $main-color;
    font-size: 2.3rem;
    margin-right: 20px;
    &-facebook:hover {
      color: rgb(24, 119, 242);
    }
    &-instagram:hover {
      color: rgb(225, 48, 108);
    }
    &-whatsapp:hover {
      color: #25d366;
    }
  }
}
