/*servicios*/

.intro-servicios {
  padding: 50px;
}
.carousel-inner1 {
  width: 1200px;
  height: 720px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.carousel-inner2 {
  width: 533px;
  height: 800px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
