/*sobre mi*/

.yo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow-x: hidden;
  img {
    border-radius: 5px;
    margin-left: 20px;
    width: 600px;
  }
  .mi {
    padding: 50px;
    }
}
